<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
<!--Добавляю Header, Main, Footer-->
  <header>
<!--цикл шаблона Джанго, обходим меню и формируем элементы списка в nav-->
    <nav>
      <ul>
        {% for item in menu %}
<!-- Делаем ссылки текст в title, ссылка в url-->
        <li> <a href="{{ item.url }}" title="{{ item.title }}"> {{ item.title }}</a></li>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </header>
  <body class="bg-primary-subtle">
  <div class="container mt-1">
    <h1>Каталог карточек</h1>
    <p>В проекте карточек: {{cards_count}}</p>
    <p>В проекте пользователей: {{users_count}}</p>
    <p>Список: {{menu}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>